// =============================================================================
// Color schema
// =============================================================================

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Font ========================================================================
* {
  font-family: 'Kumbh Sans', sans-serif;
}

// Primary =====================================================================
$darkCyan: hsl(185, 75%, 39%);
$darkBlue: hsl(229, 23%, 23%);
$bluedGrey: hsl(227, 10%, 46%);

// Neutral =====================================================================
$darkGrey: hsla(0, 0%, 59%, 0.3);
